<main>
  <div id="carouselExampleSlidesOnly" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item">
        <img src="https://laverdadnoticias.com/export/sites/laverdad/img/2021/07/17/tipos_de_plantas_carnivoras.jpg_1005513867.jpg" width="820" height="750">
          <div class="carousel-caption badge bg-success">
              <h1>Gran variedad de plantas</h1>
          </div>
      </div>
      <div class="carousel-item active">
        <img src="https://img.clasf.co/2019/07/21/kit-de-planta-carnivora-venis-atrapa-moscas-20190721180556.7570420015.jpg" width="820" height="750">
          <div class="carousel-caption badge bg-success">
              <h1>Productos para el cuidado</h1>
              <h1>y mantenimiento de las plantas</h1>
          </div>
      </div>
      <div class="carousel-item">
        <img src="https://img.chilango.com/2018/11/taller-de-plantas-carnivoras.jpg" width="800" height="750">
          <div class="carousel-caption badge bg-success">
              <h1>y muchos accesorios mas ...</h1>
          </div>
      </div>
    </div>
  </div>    
</main>  