<form
  style="max-width: 360px;"
  class="w-100 d-flex flex-column justify-content-center items-align-center"
>
  <fieldset class="mb-3 text-center">
    <label for="email" class="form-label mb-0">email</label>
    <input type="text" class="form-control" id="email" />
  </fieldset>
  <fieldset class="mb-3 text-center">
    <label for="password" class="form-label mb-0">password</label>
    <input type="text" class="form-control" id="password" />
  </fieldset>
  <button
    id="login"
    type="button"
    class="w-100 btn btn-warning"
  >LOGIN!</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/login.js"></script>