<div class ="fondoOrders">
    <main class="flex-grow-1 d-flex w-100 flex-wrap justify-content-evenly">
    <article class="d-flex flex-wrap justify-content-evenly" id="orders">
    </article>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/orders.js"></script>    
</div>